아이리스 품종 예측하기

## 데이터 로딩 후 데이터 확인

In [2]:
from sklearn.datasets import load_iris
import pandas as pd

In [5]:
iris = load_iris()

In [6]:
iris_data = iris.data #X data, feature
iris_data.shape

(150, 4)

In [25]:
iris_label = iris.target #Y data, label class
iris_label.shape

(150,)

In [7]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

iris data => Dataframe으로 변환

In [26]:
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)
iris_df['label'] = iris_label
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [27]:
# 기초 통계량
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [28]:
iris_df.info

<bound method DataFrame.info of      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     label
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 5 columns]>

2) 학습용 데이터와 테스트용 데이터 분리

In [21]:
from sklearn.model_selection import train_test_split
#train_test_split는 4개의 튜플로 값을 동시에 넘김 X_train, X_test, y_train, y_test

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    iris_data, iris_label,test_size=0.2, random_state=2021)

In [30]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120,), (30,))

## A 타입: DecisioncTree(결정 트리) Algorithm

3) 머신러닝 알고리즘을 적용해 학습

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
#객체 생성-->모델생성
dt_clf = DecisionTreeClassifier(random_state=11 )

In [ ]:
# dir(dt_clf)  #변수확인

In [34]:
#학습수행
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier()

4) 학습된 모델을 기반으로 테스트 데이터에 대해 예측수행

In [ ]:
#예측값
pred= dt_clf.predict(X_test)

In [36]:
pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 2, 1, 1, 0, 1, 1, 2,
       1, 0, 1, 1, 1, 1, 0, 0])

In [37]:
y_test

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 2, 1, 1, 0, 1, 1, 2,
       2, 0, 2, 1, 1, 1, 0, 0])

5)예측값과 실제값을 비교해 머신러닝 모델의 성능을 평가

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
#정확도 평가
score = accuracy_score(y_test, pred)
print(f'예측정확도: {round(score,4)}')

예측정확도: 0.9333

## B타입: support Vector Machine Algorithm

3) 머신러닝 알고리즘을 적용해 학습

In [40]:
from sklearn.svm import SVC 
sv_clf = SVC(random_state=11)

In [41]:
sv_clf.fit(X_train, y_train)

SVC(random_state=11)

In [42]:
pred = sv_clf.predict(X_test)

In [43]:
score = accuracy_score(y_test, pred) 
print(f'예측정확도: {round(score,4)}')

예측정확도: 1.0